@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#default-sidebar ul li a.active {
	@apply text-white bg-primaryGreen;
}

figure {
	@apply mx-auto transition duration-100 w-52 h-52 md:w-36 md:h-36;
}

.swiper-btn {
	@apply absolute -translate-y-[50%]  w-[60px] py-[16px] px-4  items-center hidden md:flex z-10;
}

.swiper-slide:hover figure {
	@apply scale-110;
}

div[role="tooltip"] {
	@apply text-xs;
}

table.table-container tbody tr:nth-child(odd) {
	@apply bg-[#e2e3e5];
}

.form-group {
	@apply mb-6;
}

.p-button {
	padding: 6px 25px !important;
}

.swiper.swiper-initialized {
	width: 100%;
}
